.input-error {
  color: red;
  font-size: 10px;
  margin-left: 15px;
}

.input-group-prepend {
  padding: 10px;
}

.table-container {
  max-height: 35vh;
  padding: 15px;
  background: #e4e5e6;
}

.filter-container {
  padding: 20px;
}

.button-clear {
  margin-left: 15px;
}

.collapse-filter {
  padding: 15px;
  background: rgb(228, 229, 230);
  margin-bottom: 30px;
}

.filter-container.card {
  margin-bottom: 0;
}

.table-content {
  padding: 20px;
  background: #fff;
  overflow: auto;
  max-height: 32vh;
}

.table-data {
  margin-bottom: 0;
  text-align: center;
}

.action-icon {
  cursor: pointer;
}
.blurr {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}